{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load custom_filters %}
{% block title %}
Contributor List | Benevolance Cooperative
{% endblock title %}
{% block header %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<!-- Tailwind CSS -->
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
{% endblock header %}
{% block content %}
<!-- sidenav  -->
{% include 'include/admin_sidebar.html' %}
<!-- end sidenav -->
<main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200 text-gray-9">
    <!-- Navbar -->
    {% include 'include/dashboard_navbar.html' with breadcrumb='Contributors' page_title='Contributors List' %}
    <!-- end Navbar -->
    <!-- cards -->
    <div class="w-full px-6 py-6 mx-auto">
        <!-- card 1 -->
        <div class="min-w-0 p-4">
            <a class="px-3 py-2 mb-0 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer shadow-soft-md leading-pro text-xs ease-soft-in tracking-tight-soft bg-green-500  hover:scale-102 hover:shadow-soft-xs active:opacity-85" href="{% url 'create_employee' %}">
                <i class="fas fa-user-plus mr-2"></i>
                <span>ADD EMPLOYEE</span>
            </a>
        </div>
        <!-- End of Card 1 -->
        <!-- <div class="w-full px-6 py-6 mx-auto"> -->
        <div class="flex flex-wrap my-6 -mx-3">
            <!-- card 1 -->
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 lg:flex-none">
                <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
                    <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
                        <div class="flex flex-wrap mt-0 -mx-3">
                            <div class="flex-none w-full px-3 mt-0">
                                <h6 class="text-gray-800 text-lg font-bold">Contributor List</h6>
                            </div>
                        </div>
                    </div>
                    <div class="flex-auto p-6 px-0 pb-2">
                        <div class="overflow-x-auto h-[600px] overflow-y-auto p-4">
                            {% if employees %}
                            <table id="employeeTable" class="items-center w-full mb-0 align-top border-gray-200 text-slate-500 overflow-x-auto overflow-y-auto">
                                <thead class="align-bottom">
                                    <tr class="bg-gray-100 mt-1">
                                        <th class="border px-6 py-3 text-left text-sm font-bold uppercase border-b border-gray-300 text-black-900">Contributor</th>
                                        <th class="border px-6 py-3 text-left text-sm font-bold uppercase border-b border-gray-300 text-gray-800">Staff ID</th>
                                        <th class="border px-6 py-3 text-left text-sm font-bold uppercase border-b border-gray-300 text-gray-800">Position</th>
                                        <th class="border px-6 py-3 text-left text-sm font-bold uppercase border-b border-gray-300 text-gray-800">Date Join</th>
                                        <th class="border px-6 py-3 text-left text-sm font-bold uppercase border-b border-gray-300 text-gray-800">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for employee in employees %}
                                    <tr class="border-b border-gray-300">
                                        <td class="p-2 align-middle bg-transparent border whitespace-nowrap shadow-transparent">
                                            <div class="flex px-2 py-1">
                                                <div>
                                                    {% if employee.passport_photo %}
                                                        <img src="{{ employee.passport_photo.url }}" class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-soft-in-out h-9 w-9 rounded-xl" alt="{{ employee.full_name }}">
                                                    {% else %}
                                                        <img src="{% static 'assets/img/default.png' %}" class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-soft-in-out h-9 w-9 rounded-xl" alt="default">
                                                    {% endif %}
                                                </div>
                                                <div class="flex flex-col justify-center">
                                                    <h6 class="mb-0 text-sm leading-normal">{{ employee.full_name }}</h6>
                                                    <p class="mb-0 text-xs leading-tight text-slate-400">{{ employee.email }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent whitespace-nowrap text-left border">
                                            <h6 class="mb-0 leading-normal text-sm">{{ employee.nitda_id }}</h6>
                                        </td>
                                        <td class="border p-2 align-middle bg-transparent whitespace-nowrap text-left">
                                            <h6 class="mb-0 leading-normal text-sm">{{ employee.position|default:"N/A" }}</h6>
                                        </td>
                                        <td class="border p-2 align-middle bg-transparent whitespace-nowrap text-left">
                                            <h6 class="mb-0 leading-normal text-sm">{{ employee.date_joined|date:"F Y" }}</h6>
                                        </td>
                                       <td class="border p-2 align-middle bg-transparent whitespace-nowrap text-left">
                                            <a href="{% url 'employee_detail' employee.id %}" class="px-3 py-2 mb-0 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer shadow-soft-md leading-pro text-xs ease-soft-in tracking-tight-soft bg-green-500  hover:scale-102 hover:shadow-soft-xs active:opacity-85">Detail</a>
                                            
                                       </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                    
                                        <p class="text-center text-muted p-4">No contributor found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'include/dashboard_footer.html' %}
    </div> <!-- end cards -->
</main>
<!-- jQuery and DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#employeeTable').DataTable({
        "paging": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "responsive": true
    });
});
</script>
{% endblock %}