{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
Contributor Profile | Benevolance Cooperative
{% endblock title %}
{% block content %}
<!-- sidenav  -->
{% include 'include/sidebar.html' %}
<!-- end sidenav -->
<main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
    <!-- Navbar -->
    {% include 'include/dashboard_navbar.html' with breadcrumb='Profile' page_title='Contributor Profile' %}
    <!-- end Navbar -->
    <!-- cards -->
    <div class="w-full mx-auto ">
        <div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 overflow-hidden min-h-10 break-words border-0 shadow-blur rounded-2xl bg-gray-100 bg-clip-border backdrop-blur-2xl backdrop-saturate-200">
            <div class="flex flex-wrap -mx-3">
                <div class="flex-none w-auto max-w-full px-3">
                    <div class="text-base ease-soft-in-out h-18.5 w-18.5 relative inline-flex items-center justify-center rounded-xl text-white transition-all duration-200">
                        {% if employee.passport_photo %}
                        <img src="{{ employee.passport_photo.url }}" alt="profile_image" class="shadow-soft-sm rounded-xl" style="width: 74px !important; height: 74px !important">
                        {% else %}
                        <img src="{% static 'assets/img/default.png' %}" alt="profile_image" class="shadow-soft-sm rounded-xl" style="width: 74px !important; height: 74px !important">
                        {% endif %}
                    </div>
                </div>
                <div class="flex-none w-auto max-w-full px-3 my-auto">
                    <div class="h-full">
                        <h5 class="mb-1"> {{ employee.get_full_name }} </h5>
                        <p class="mb-0 font-semibold leading-normal text-sm">{{ employee.position }}</p>
                    </div>
                </div>
                <div class="w-full max-w-full px-3 mx-auto mt-4 sm:my-auto sm:mr-0 md:w-1/2 md:flex-none lg:w-4/12 ">
                    <div class="relative right-0">
                        <ul class="relative flex gap-2 flex-wrap p-1 list-none bg-transparent rounded-xl sm:flex-row" nav-pills="" role="tablist">
                            <!-- Buttons Inside UL -->
                            <li class="z-30 flex-auto text-center">
                                <!-- Back Button -->
                    <a href="javascript:history.back()" class="inline-block px-4 py-2 mb-0 font-bold text-center text-white-p uppercase align-middle transition-all bg-gray-600 border border-solid rounded-lg shadow-none cursor-pointer leading-pro ease-soft-in text-sm hover:scale-102 active:shadow-soft-xs tracking-tight-soft border-gray-500 text-gray-700 hover:border-gray-600 hover:bg-gray-300 hover:text-gray-900">
                        ← Back
                    </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full p-6 mx-auto">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 md:w-6/12 lg:flex-none">
                <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                        <div class="flex flex-wrap -mx-3">
                            <div class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                                <h6 class="mb-0">Profile Information</h6>
                            </div>
                        </div>
                    </div>
                    <div class="flex-auto p-4">
                        <fieldset class="border border-gray-300 rounded-lg p-4 mb-6">
                            <legend class="text-slate-500 font-bold">Personal Details</legend>
                            <table class="min-w-full bg-white rounded-lg">
                                <tbody>
                                    <tr>
                                        <td class=" py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Full Name:</strong></td>
                                        <td class=" py-2 border-b border-gray-200 text-sm">{{ employee.get_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class=" py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Mobile:</strong></td>
                                        <td class=" py-2 border-b border-gray-200 text-sm">{{ employee.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <td class=" py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Email:</strong></td>
                                        <td class=" py-2 border-b border-gray-200 text-sm">{{ employee.email }}</td>
                                    </tr>
                                    <tr>
                                        <td class=" py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Staff ID:</strong></td>
                                        <td class=" py-2 border-b border-gray-200 text-sm" style="word-break: break-all;">{{ employee.nitda_id }}</td>
                                    </tr>
                                    <tr>
                                        <td class=" py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Gender:</strong></td>
                                        <td class=" py-2 border-b border-gray-200 text-sm">{{ employee.get_gender_display }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="border border-gray-300 rounded-lg p-4 mt-6">
                            <legend class="text-slate-500 font-bold">Next of Kin Details</legend>
                            <table class="min-w-full bg-white rounded-lg">
                                <tbody>
                                    <tr>
                                        <td class="border-b border-gray-200 text-sm"><strong class="text-gray-800">Full Name:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">{{ employee.next_of_kin_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Mobile:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">{{ employee.next_of_kin_phone }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Relationship:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">{{ employee.next_of_kin_relationship }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 md:w-6/12 lg:flex-none">
                <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                        <h6 class="mb-0">Financial Informations</h6>
                    </div>
                    <div class="flex-auto p-4">
                        <fieldset class="border border-gray-300 rounded-lg p-4 mb-6">
                            <legend class="text-slate-500 font-bold">Accounts</legend>
                            <table class="min-w-full bg-white rounded-lg">
                                <tbody>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Total Balance:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ total_remained_balance|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Savings (60%):</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ savings_balance|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Investment (40%):</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ investment_balance|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Monthly Contribution:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ employee.contribution_setting.amount|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Total Money Contributed:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ total_contributions|floatformat:2|intcomma }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="border border-gray-300 rounded-lg p-4 mt-6">
                            <legend class="text-slate-500 font-bold">Financial Summary</legend>
                            <table class="min-w-full bg-white rounded-lg">
                                <tbody>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Total Withdrawal:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ total_withdrawn|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Credit Collected:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ took_credits|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="py-2 border-b border-gray-200 text-sm"><strong class="text-gray-800">Credit Repaid:</strong></td>
                                        <td class="py-2 border-b border-gray-200 text-sm">NGN{{ repaid_credits|floatformat:2|intcomma }}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'include/dashboard_footer.html' %}
    </div> <!-- end cards -->
</main>
{% endblock %}