{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
Contributor Dashboard | Benevolence Cooperative
{% endblock title %}
{% block content %}
<!-- sidenav  -->
{% include 'include/sidebar.html' %}
<!-- end sidenav -->
<main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
    <!-- Navbar -->
    {% include 'include/dashboard_navbar.html' with breadcrumb='Contributor' page_title='Dashboard' %}
    <!-- end Navbar -->
    <!-- cards -->
    <div class="w-full px-6 py-6 mx-auto">
        <!-- row 1 -->
        <div class="flex flex-wrap -mx-3">
            <!-- card1 -->
            <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Savings</p>
                                    <h6 class="mb-0 font-bold">
                                       <span class="balance"> ₦{{ savings_balance|intcomma }} </span>
                                       <span class="hidden-balance hidden-b"> *** </span>
                                        <br>
                                        <span class="leading-normal text-sm font-weight-bolder text-lime-500">60%</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-12 h-12 text-center rounded-lg bg-green-500">
                                    <i class="fa fa-coins leading-none  text-lg relative top-3.5 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card2 -->
            <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full pl-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Investment</p>
                                    <h6 class="mb-0 font-bold">
                                        
                                        <span class="balance"> ₦{{ investment_balance|intcomma }} </span>
                                       <span class="hidden-balance hidden-b"> *** </span>
                                        <br>
                                        <span class="leading-normal text-sm font-weight-bolder text-lime-500">40%</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-12 h-12 text-center rounded-lg bg-green-500">
                                    <i class="fas fa-chart-line leading-none text-lg relative top-3.5 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card3 -->
            <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Total Balance</p>
                                    <h6 class="mb-0 font-bold">
                                        
                                        <span class="balance">₦{{ total_remained_balance|intcomma }}</span>
                                       <span class="hidden-balance hidden-b"> *** </span>
                                        <br>
                                        <span class="text-xs">Remained
                                        <span class="leading-normal text-lime-500 text-sm font-weight-bolder">100%</span></span>
                                    </h6>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-12 h-12 text-center rounded-lg bg-green-500">
                                    <i class="fas leading-none fa-balance-scale text-lg relative top-3.5 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card4 -->
            <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full pl-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Contributed</p>
                                    <h6 class="mb-0 font-bold">
                                        
                                        <span class="balance">₦{{ total_contributions|intcomma }}</span>
                                       <span class="hidden-balance hidden-b"> *** </span>
                                        <br>
                                        <span class="text-xs">Total Contributed
                                        <span class="leading-normal text-sm font-weight-bolder text-lime-500"></span></span>
                                    </h6>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-12 h-12 text-center rounded-lg bg-green-500">
                                    <i class="fas leading-none fa-hand-holding-dollar text-lg relative top-3.5 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cards row 2 -->
        <div class="flex flex-wrap mt-6 -mx-3">
            <div class="w-full px-3 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                    <div class="flex flex-col h-full">
                        <div class="flex-auto p-4 pt-6">
                            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                                <li class="relative flex p-6 mb-2 border-0 rounded-t-inherit rounded-xl bg-gray-100">
                                    <div class="flex flex-col">
                                        <h5 class="mb-4 leading-normal text-sm underline">Your Profile Information</h5>
                                        <span class="mb-2 leading-tight text-sm">Full Name: <span class="font-semibold text-gray-800 sm:ml-2">{{ employee.full_name }}</span></span>
                                        <span class="mb-2 leading-tight text-sm">Email Address: <span class="font-semibold text-gray-800 sm:ml-2">{{ employee.email }}</span></span>
                                        <span class="mb-2 leading-tight text-sm">Staff ID: <span class="font-semibold text-gray-800 sm:ml-2">{{ employee.nitda_id }}</span></span>
                                        <span class="mb-2 leading-tight text-sm">Position: <span class="font-semibold text-gray-800 sm:ml-2">{{ employee.position }}</span></span>
                                        {% if employee.loan_committee_member %}
                                        <span class="mb-2 leading-tight text-sm">Credit Committee: <span class="font-semibold text-gray-800 sm:ml-2">
                                           {{ employee.loan_committee_member.role }}
                                           </span>
                                         </span>
                                        {% endif %}
                                    </div>
                                    <div class="ml-auto text-right">
                                        
                                        <a class="inline-block px-4 py-3 mb-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-xs ease-soft-in bg-150 hover:scale-102 active:opacity-85 bg-x-25 text-gray-800" href="{% url 'employee_specific_detail' employee.id %}"><i class="mr-2 fas fa-pencil-alt text-gray-800" aria-hidden="true"></i>Details</a>
                                    </div>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
                <div class="border-black/12.5 shadow-soft-xl relative flex h-full min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border p-4">
                    <div class="relative h-full overflow-hidden bg-cover rounded-xl">
                        <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-green-500 opacity-80"></span>
                        <div class="relative z-10 flex flex-col flex-auto h-full p-4">
                            <h5 class="pt-2 mb-4 font-bold text-white">Your Bank Details</h5>
                            <p class="text-white"><b>Bank:</b> 
                                <span class="balance"> {{ account_details.bank_name|default:"*** Bank" }}</span>
                                <span class="hidden-balance hidden-b"> *** </span>
                            </p>
                            <p class="text-white"><b>Account Number:</b>
                                <span class="balance"> {{ account_details.account_number|default:"***" }}</span>
                                <span class="hidden-balance hidden-b"> *** </span>
                            </p>
                            <p class="text-white"><b>Account Name:</b>
                                <span class="balance"> {{ account_details.account_holder_name|default:"*** *** ***"}}</span>
                                <span class="hidden-balance hidden-b"> *** </span>
                            </p>
                            {% if not account_details %}
                            <a class="mt-auto mb-0 bg-dark font-semibold leading-normal text-white group text-sm" href="{% url 'settings' %}#bank-details">
                                Please Add
                                <i class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cards row 3 -->
        <div class="flex flex-wrap my-6 -mx-3">
            <!-- card 1 -->
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 md:flex-none lg:flex-none">
                <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
                    <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
                        <div class="flex flex-wrap mt-0 -mx-3">
                            <div class="flex-none w-7/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                                <h6 class="text-gray-800">Latest Contributions</h6>
                                <p class="mb-0 leading-normal text-sm">
                                    <i class="fa fa-check text-cyan-500"></i> For the past
                                    <span class="ml-1 font-semibold">5 months</span>
                                    
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="flex-auto p-6 px-0 pb-2">
                        <div class="overflow-x-auto">
                            <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
                                <thead class="align-bottom">
                                    <tr>
                                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-sm whitespace-nowrap border-b-gray-200 text-gray-800 ">Month</th>
                                        <th class="px-6 py-3 pl-2 font-bold tracking-normal text-left uppercase align-middle bg-transparent border-b letter border-b-solid text-sm whitespace-nowrap border-b-gray-200 text-gray-800">Year</th>
                                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle  text-sm border-b letter border-b-solid  whitespace-nowrap border-b-gray-200 text-gray-800">Amount</th>
                                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-sm whitespace-nowrap border-b-gray-200 text-gray-800 ">Status</th>
                                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-sm whitespace-nowrap border-b-gray-200 text-gray-800">Date Recorded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for record in contribution_records %}
                                    <tr>
                                        <td class=" ml-3 p-2 align-middle bg-transparent border-b whitespace-nowrap text-center"> 
                                          <h6 class="mb-0 leading-normal text-sm">{{ record.month|month_name }}</h6>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap text-center">
                                          <h6 class="mb-0 leading-normal text-sm">{{ record.year }}</h6>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap text-center">
                                          <h6 class="mb-0 leading-normal text-sm">₦{{ record.amount }}</h6>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap text-center">
                                          <h6 class="mb-0 leading-normal text-sm">₦{{ record.get_status_display }}</h6>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap text-center">
                                          <h6 class="mb-0 leading-normal text-sm">{{ record.created_at }}</h6>
                                        </td>

                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4" class="text-center text-muted">No contribution records available.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'include/dashboard_footer.html' %} </div> <!-- end cards -->
</main>

{% endblock %}