{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
Account Settings | Benevolance Cooperative
{% endblock title %}
{% block header %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (window.location.hash) {
            const targetElement = document.querySelector(window.location.hash);
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth' }); // Optional: smooth scrolling
            }
        }
    });
</script>
{% endblock header %}


{% block content %}
<!-- sidenav  -->
 {% if is_admin %}
    {% include 'include/admin_sidebar.html' %}
{% else %}
    {% include 'include/sidebar.html' %}
 {% endif %}
<!-- end sidenav -->
<main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
    <!-- Navbar -->
    {% include 'include/dashboard_navbar.html' with breadcrumb='account' page_title='settings' %}
    <!-- end Navbar -->
    <!-- cards -->
    <div class="w-full px-6 py-6 mx-auto">
        <!-- row 1 -->
        
 
        <div class="flex flex-wrap mt-6 -mx-3">
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 md:flex-none lg:flex-none">
                <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
                    <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
                        <div class="flex flex-wrap mt-0 -mx-3">
                            <div class="flex-none w-12/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                                <h6 class="text-gray-800 uppercase font-bold">Change Password</h6>
                            </div>
                        </div>
                    </div>
                    <div class="flex-auto p-6 px-0 pb-2">
                        <div class="overflow-x-auto px-6">
                            <form role="form text-left" method="post" action="{% url 'change_password' %}">
                                {% csrf_token %}

                                {% if password_form.non_field_errors %}
                                    <ul class="errorlist">
                                        {% for error in password_form.non_field_errors %}
                                            <li style="color:red;">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">Old Password</label>
                                <div class="mb-4">
                                    <input type="password" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-800 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-800 focus:outline-none focus:transition-shadow" placeholder="Old Password" aria-label="Old Password" id="old_password" name="old_password" required />
                                    {% if password_form.old_password.errors %}
                                        <ul class="errorlist">
                                            {% for error in password_form.old_password.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">New Password</label>
                                <div class="mb-4">
                                    <input type="password" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-800 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-800 focus:outline-none focus:transition-shadow" placeholder="New Password" aria-label="New Password" id="new_password1" name="new_password1" required />
                                    {% if password_form.new_password1.errors %}
                                        <ul class="errorlist">
                                            {% for error in password_form.new_password1.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">Confirm New Password</label>
                                <div class="mb-4">
                                    <input type="password" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-800 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-800 focus:outline-none focus:transition-shadow" placeholder="Confirm New Password" aria-label="Confirm New Password" id="new_password2" name="new_password2" required />
                                    {% if password_form.new_password2.errors %}
                                        <ul class="errorlist">
                                            {% for error in password_form.new_password2.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <div class="text-right">
                                    <a href="javascript::history().back" class="inline-block px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gray-800 text-white">Go Back</a>
                                    <button type="submit" class="inline-block px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-green-600 text-white">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        {% if not is_admin  %}
        {% if not request.user.get_member_bank_details %}
        <div class="flex flex-wrap mt-6 -mx-3"  id="bank-details">
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 md:flex-none lg:flex-none">
                <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
                    <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
                        <div class="flex flex-wrap mt-0 -mx-3">
                            <div class="flex-none w-12/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                                <h6 class="text-gray-800 uppercase font-bold">Bank Details</h6>
                            </div>
                        </div>
                    </div>
                    <div class="flex-auto p-6 px-0 pb-2">
                        <div class="overflow-x-auto px-6">
                            <form role="form text-left" method="post" action="{% url 'withdrawal:add_account' %}">
                                {% csrf_token %}

                                {% if bank_form.errors %}
                                    <div class="bg-red-100 border border-red-400 text-red-800 px-4 py-3 rounded relative" role="alert">
                                        <strong class="font-bold">Error!</strong>
                                        <span class="block sm:inline">
                                            {% for error in bank_form.non_field_errors %}
                                            {{ error }}<br>
                                            {% endfor %}
                                        </span>
                                        <button class="absolute top-0 bottom-0 right-0 px-3 py-1 text-red-500 hover:text-red-800 focus:outline-none" type="button" data-dismiss="alert" aria-label="Close">
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
        
                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">Account Number</label>
                                <div class="mb-4">
                                    <input type="text" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-800 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-800 focus:outline-none focus:transition-shadow" placeholder="Account Number" aria-label="Account Number" id="account_number" name="account_number" value="{{ bank_form.account_number.value|default:'' }}" required />
                                    {% if bank_form.account_number.errors %}
                                        <ul class="errorlist">
                                            {% for error in bank_form.account_number.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
        
                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">Bank Name</label>
                                <div class="mb-4">
                                    <input type="text" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-800 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-800 focus:outline-none focus:transition-shadow" placeholder="Bank name" id="bank_name" name="bank_name" list="bankList" required autocomplete="off" />
                                    <datalist id="bankList"></datalist>                                    
                                    {% if bank_form.bank_name.errors %}
                                        <ul class="errorlist">
                                            {% for error in bank_form.bank_name.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
        
                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">Account Holder Name</label>
                                <div class="mb-4">
                                    <input type="text" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-800 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-800 focus:outline-none focus:transition-shadow" placeholder="Account Holder Name" aria-label="Account Holder Name" id="account_holder_name" name="account_holder_name" value="{{ bank_form.account_name.value|default:'' }}" required />
                                    {% if bank_form.account_name.errors %}
                                        <ul class="errorlist">
                                            {% for error in bank_form.account_name.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
        
                                <div class="text-right mr-4">
                                    <button type="button" class="inline-block px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gray-800" id="verifyButton">Verify</button>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="inline-block px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-green-500" id="saveButton" style="display:none;">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="flex flex-wrap mt-6 -mx-3" id="request-change-contribution-amount">
            <div class="w-full max-w-full px-3 mt-0 mb-6 md:mb-0 md:flex-none lg:flex-none">
                <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
                    <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
                        <div class="flex flex-wrap mt-0 -mx-3">
                            <div class="flex-none w-12/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                                <h6 class="text-gray-800 uppercase font-bold">Contribution Change Request</h6>
                            </div>
                        </div>
                    </div>
                    <div class="flex-auto p-6 px-0 pb-2">
                        <div class="overflow-x-auto px-6">
                            <form role="form text-left" method="post" action="{% url 'request_contribution_change' %}">
                                {% csrf_token %}

                                <label class="mb-2 ml-1 font-bold text-xs text-gray-800">Requested Amount</label>
                                <div class="mb-4">
                                    {{ contribution_form.amount }}
                                    {% if contribution_form.amount.errors %}
                                        <ul class="errorlist">
                                            {% for error in contribution_form.amount.errors %}
                                                <li style="color:red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="inline-block px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gray-800 text-white">Submit Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        {% include 'include/dashboard_footer.html' %}
    </div> <!-- end cards -->
</main>

<script>
    let bankData = {};
    
    // Load bank list from Paystack API
    fetch("https://api.paystack.co/bank", {
        headers: {
            'Authorization': 'Bearer {{API_KEY}}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            bankData = data.data.reduce((acc, bank) => {
                acc[bank.name] = bank.code;
                return acc;
            }, {});
            
            let bankList = document.getElementById("bankList");
            data.data.forEach(bank => {
                let option = document.createElement("option");
                option.value = bank.name;
                bankList.appendChild(option);
            });
        } else {
            console.error("Error loading bank list from Paystack:", data.message);
        }
    })
    .catch(error => console.error("Error fetching bank list:", error));
    
    // Account verification
    document.getElementById("verifyButton").addEventListener("click", function() {
        let accountNumber = document.getElementById("account_number").value;
        let bankName = document.getElementById("bank_name").value;
        let bankCode = bankData[bankName];
    
        if (!accountNumber || !bankCode) {
            alert("Please enter a valid account number and select a bank.");
            return;
        }
    
        axios.get(`https://api.paystack.co/bank/resolve?account_number=${accountNumber}&bank_code=${bankCode}`, {
            headers: {
                'Authorization': 'Bearer {{API_KEY}}',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.data.status) {
                document.getElementById("account_holder_name").value = response.data.data.account_name;
                document.getElementById("verifyButton").style.display = "none";
                document.getElementById("saveButton").style.display = "block";
            } else {
                alert("Account verification failed.");
            }
        }).catch(error => {
            console.error("Verification error:", error);
            alert("Error verifying account.");
        });
    });
    </script>
    
{% endblock %}