{% load static %}
<aside class="max-w-62.5 ease-nav-brand z-990 fixed inset-y-0 my-4 ml-4 block w-full -translate-x-full flex-wrap items-center justify-between overflow-y-auto rounded-2xl border-0 bg-white p-0 antialiased shadow-none transition-transform duration-200 xl:left-0 xl:translate-x-0">
    <div class="h-19.5">
        <i class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden" sidenav-close></i>
        <div class="flex flex-col items-center">
            <a class="block px-1 py-2 m-0 text-sm whitespace-nowrap text-slate-700" href="{% url 'admin_dashboard' %}" target="_blank">
            <img src="{% static 'assets/img/favicon.png' %}" class="inline transition-all duration-200 ease-nav-brand" alt="main_logo" width="30" height="30" />
            </a>
            <span class="font-semibold text-green-600 transition-all duration-200 ease-nav-brand">BENEVOLENCE COOPERATIVE</span>
        </div>
    </div>

    <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />

    <div style="height: 70%" class="items-center block w-auto max-h-screen overflow-auto h-sidenav grow basis-full"> 
        <ul class="flex flex-col pl-0 mb-0">
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4
                {% if request.resolver_match.view_name == 'admin_dashboard' %}font-bold{% endif %} text-slate-700 transition-colors" href="{% url 'admin_dashboard' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center stroke-0 text-center xl:p-2.5
                     {% if request.resolver_match.view_name == 'admin_dashboard' %}bg-green-500{% endif %}">
                        <i class="fas fa-chart-line  {% if request.resolver_match.view_name == 'admin_dashboard' %} text-white{% else %} text-gray-900{% endif %}"></i>  </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Dashboard</span>
                </a>
            </li>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors
                {% if request.resolver_match.view_name == 'employee_list' %}font-bold{% endif %}" href="{% url 'employee_list' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center fill-current stroke-0 text-center xl:p-2.5 {% if request.resolver_match.view_name == 'employee_list' %} bg-green-500 {% endif %}">
                        <i class="fas fa-users {% if request.resolver_match.view_name == 'employee_list' %} text-white{% else %} text-gray-900 {% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Manage Employees</span>
                </a>
            </li>

            <li class="w-full mt-4">
                <h6 class="pl-6 ml-2 font-bold leading-tight uppercase text-xs opacity-60">Contribution pages</h6>
            </li>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors {% if request.resolver_match.view_name == 'manage_contributions' %}font-bold{% endif %}" href="{% url 'manage_contributions' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center stroke-0 text-center xl:p-2.5  {% if request.resolver_match.view_name == 'manage_contributions' %}bg-green-500{% endif %}">
                        <i class="fas fa-money-bill-wave {% if request.resolver_match.view_name == 'manage_contributions' %} text-white{% else %} text-gray-900{% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Manage Contributions</span>
                </a>
            </li>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors {% if request.resolver_match.view_name == 'manage_employee_contributions' %}font-bold{% endif %}" href="{% url 'manage_employee_contributions' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center fill-current stroke-0 text-center xl:p-2.5 {% if request.resolver_match.view_name == 'manage_employee_contributions' %}bg-green-500{% endif %}">
                        <i class="fas fa-cog  {% if request.resolver_match.view_name == 'manage_employee_contributions' %} text-white{% else %} text-gray-900{% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Contribution Settings</span>
                </a>
            </li>

            <li class="w-full mt-4">
                <h6 class="pl-6 ml-2 font-bold leading-tight uppercase text-xs opacity-60">Withdrawal pages</h6>
            </li>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors {% if request.resolver_match.view_name == 'withdrawal:admin_withdrawal_management' %}font-bold{% endif %}" href="{% url 'withdrawal:admin_withdrawal_management' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center fill-current stroke-0 text-center xl:p-2.5 {% if request.resolver_match.view_name == 'withdrawal:admin_withdrawal_management' %}bg-green-500{% endif %}">
                        <i class="fas fa-exchange-alt  {% if request.resolver_match.view_name == 'withdrawal:admin_withdrawal_management' %} text-white{% else %} text-gray-900{% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Manage Withdrawals</span>
                </a>
            </li>
            <li class="w-full mt-4">
                <h6 class="pl-6 ml-2 font-bold leading-tight uppercase text-xs opacity-60">Credit pages</h6>
            </li>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors 
                    {% if request.resolver_match.view_name == 'credit:credit_settings' %}font-bold{% endif %}" 
                    href="{% url 'credit:credit_settings' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center fill-current stroke-0 text-center xl:p-2.5 
                        {% if request.resolver_match.view_name == 'credit:credit_settings' %}bg-green-500{% endif %}">
                        <i class="fas fa-cogs {% if request.resolver_match.view_name == 'credit:credit_settings' %} text-white{% else %} text-gray-900{% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Credit Settings</span>
                </a>
            </li>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors 
                    {% if request.resolver_match.view_name == 'credit:credit_request' %}font-bold{% endif %}" 
                    href="{% url 'credit:credit_request' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center fill-current stroke-0 text-center xl:p-2.5 
                        {% if request.resolver_match.view_name == 'credit:credit_request' %}bg-green-500{% endif %}">
                        <i class="fas fa-arrow-circle-down {% if request.resolver_match.view_name == 'credit:credit_request' %} text-white{% else %} text-gray-900{% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Pending Requests</span>
                </a>
            </li>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors 
                    {% if request.resolver_match.view_name == 'credit:approved_credit_request' %}font-bold{% endif %}" 
                    href="{% url 'credit:approved_credit_request' %}">
                    <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg shadow-soft-2xl bg-white bg-center fill-current stroke-0 text-center xl:p-2.5 
                        {% if request.resolver_match.view_name == 'credit:approved_credit_request' %}bg-green-500{% endif %}">
                        <i class="fas fa-check-circle {% if request.resolver_match.view_name == 'credit:approved_credit_request' %} text-white{% else %} text-gray-900{% endif %}"></i>
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Approved Requests</span>
                </a>
            </li>


        </ul>
    </div>
    <div class="mx-4">
        <!-- load phantom colors for card after: -->
        <p class="invisible hidden text-gray-800 text-red-500 text-red-600 after:bg-gradient-to-tl after:from-gray-900 after:to-slate-800 after:bg-gradient-to-tl after:from-blue-600 after:to-cyan-400 after:bg-gradient-to-tl after:from-red-500 after:to-yellow-400 after:bg-gradient-to-tl after:from-green-600 after:to-lime-400 after:bg-gradient-to-tl after:from-red-600 after:to-rose-400 after:bg-gradient-to-tl after:from-slate-600 after:to-slate-300 text-lime-500 text-cyan-500 text-slate-400 text-fuchsia-500"></p>
      
        <a class="inline-block w-full px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-red-500"
           href="{% url 'logout' %}"
           onclick="return confirm('Are you sure you want to logout?');">
            Logout
        </a>
    </div>


</aside>