{% load static %}
<!-- Navbar -->
<nav class="relative flex flex-wrap items-center justify-between px-0 py-2 mx-6 transition-all shadow-none duration-250 ease-soft-in rounded-2xl lg:flex-nowrap lg:justify-start" navbar-main navbar-scroll="true">
    <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
        <nav>
            <!-- breadcrumb -->
            <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
                <li class="leading-normal text-sm">
                    <a class="opacity-50 text-gray-700" href="javascript:;">Pages</a>
                </li>
                <li class="text-sm pl-2 capitalize leading-normal text-gray-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">{{ breadcrumb }}</li>
            </ol>
            <h6 class="mb-0 font-bold capitalize text-gray-900">{{ page_title }}</h6>
            
        
        </nav>
        <div class="flex items-center mt-2 grow sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto">
            <div class="flex items-center md:ml-auto md:pr-4">
                {% comment %} <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
                    <span class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="text" class="pl-8.75 text-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Type here..." />
                </div> {% endcomment %}
            </div>
            <ul class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
                
                <li class="flex items-center px-4 xl:hidden">
                    <a href="javascript:;" class="block p-0 transition-all ease-nav-brand text-sm text-slate-500" sidenav-trigger>
                        <div class="w-4.5 overflow-hidden">
                            <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
                            <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
                            <i class="ease-soft relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
                        </div>
                    </a>
                </li>
                
                <li class="flex items-center ">
                    <a href="{% if is_admin %}#{% else %}{{ request.user.get_absolute_url }}{% endif %}" class="block px-0 py-2 font-semibold transition-all ease-nav-brand text-sm text-slate-500 dark:text-white">
                      <i class="fa fa-user sm:mr-1 text-gray-900" style="font-size: 1rem" aria-hidden="true"></i>
                      <span class="hidden sm:inline text-gray-900" style="font-size: 1rem">Hi, {{ request.user.get_short_name }}</span>
                    </a>
                </li>

                <li class="flex items-center">
                    <span style="font-size: 1.1rem" class="block text-gray-400 px-2 py-2 font-bold transition-all ease-nav-brand text-sm text-slate-500 dark:text-white">
                    |</span>
                </li>
                <li class="flex items-center pl-2">
                    <button id="toggleButton" class="p-0 transition-all text-sm ease-nav-brand text-slate-500 mr-4" title="Toggle balance visibility">
                        <i class="fa fa-eye text-gray-900" style="font-size: 1rem" id="show-balance"></i>
                        <i class="fa fa-eye-slash hidden text-gray-900" style="font-size: 1rem" id="hide-balance"></i>
                    </button>
                </li>

                <li class="flex items-center pl-2">
                    <button id="dark-mode-toggle" onclick="toggleDarkMode()" class="p-0 transition-all text-sm ease-nav-brand text-slate-500 mr-4">
                        <i class="fa fa-moon text-gray-900"  style="font-size: 1rem" id="moon"></i>
                        <i class="fa fa-sun hidden text-gray-900"  style="font-size: 1rem" id="sun"></i>
                    </button>
                </li> 

                <li class="flex items-center pr-2">
                    <a href="{% url 'settings' %}" class="block px-0 py-2 font-semibold transition-all ease-nav-brand text-sm text-slate-500 dark:text-white" title="Settings">
                        <i class="fa fa-cog text-gray-900" style="font-size: 1rem" aria-hidden="true"></i>
                    </a>
                </li>

                <!-- notifications -->
                <li class="relative flex items-center pr-2">
                    <p class="hidden transform-dropdown-show"></p>
                    <a href="javascript:;" class="block p-0 transition-all text-sm ease-nav-brand text-slate-500" dropdown-trigger="" aria-expanded="false">
                        <i class="cursor-pointer fa fa-bell text-gray-900"  style="font-size: 1rem"></i>
                        <!-- display this  whenever there is new notification and display the total of them, if they exceeded 9 just put 9+-->
                        <span id="notificationCounts" class="absolute hidden top-0 right-0 inline-block w-4 h-4 bg-red-500 text-white text-xs rounded-full text-center" style="top: 0px"></span>
                    </a>
                    <ul dropdown-menu="" id="notification-list" 
                    class="text-sm transform-dropdown before:font-awesome before:leading-default before:duration-350 
                        before:ease-soft lg:shadow-soft-3xl duration-250 min-w-44 before:sm:right-7.5 before:text-5.5 
                        pointer-events-none absolute right-0 top-0 z-50 origin-top list-none rounded-lg border-0 
                        border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-gray-800 
                        opacity-0 transition-all before:absolute before:right-2 before:left-auto before:top-0 before:z-50 
                        before:inline-block before:font-normal before:text-white before:antialiased before:transition-all 
                        before:content-['\f0d8'] sm:-mr-6 lg:absolute lg:right-0 lg:left-auto lg:mt-2 lg:block lg:cursor-pointer 
                        overflow-y-auto" 
                    style="width: 350px;  height: 500px; hyphens: auto;">
                      
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script>
    const toggleButton = document.getElementById('toggleButton');
    const showBalanceIcon = document.getElementById('show-balance');
    const hideBalanceIcon = document.getElementById('hide-balance');

    function toggleBalances() {
        const balances = document.querySelectorAll('.balance');
        const hiddenBalances = document.querySelectorAll('.hidden-b');

        const isHidden = localStorage.getItem('balancesHidden') === 'true';

        balances.forEach(balance => {
            balance.classList.toggle('hidden-balance', isHidden);
        });

        hiddenBalances.forEach(hiddenBalance => {
            hiddenBalance.classList.toggle('hidden-balance', !isHidden);
        });

        localStorage.setItem('balancesHidden', String(!isHidden));

        // Toggle eye icons
        showBalanceIcon.classList.toggle('hidden', !isHidden);
        hideBalanceIcon.classList.toggle('hidden', isHidden);
    }

    toggleButton.addEventListener('click', toggleBalances);

    // Check local storage on page load
    function initializeBalances() {
        const isHidden = localStorage.getItem('balancesHidden') === 'true';

        const balances = document.querySelectorAll('.balance');
        const hiddenBalances = document.querySelectorAll('.hidden-b');

        balances.forEach(balance => {
            balance.classList.toggle('hidden-balance', !isHidden);
        });

        hiddenBalances.forEach(hiddenBalance => {
            hiddenBalance.classList.toggle('hidden-balance', isHidden);
        });

        // Toggle eye icons on load
        showBalanceIcon.classList.toggle('hidden', !isHidden);
        hideBalanceIcon.classList.toggle('hidden', isHidden);
    }
    document.addEventListener('DOMContentLoaded', (event) => {
        initializeBalances();
    });
    

    
</script>


{% include "include/notification_ws.html" %}
