{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Loan Dashboard</h2>

    {% if loan %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current Loan Status</h5>
                <p class="text-muted">Loan Tracking ID: <span class="badge bg-success">{{ loan.tracking_id }}</span></p>
                <h6>Loan Type: {{ loan.get_loan_type_display }}</h6>
                <p><b>Purpose for this Loan:</b> {{ loan.purpose }} </p>
                <p>Status: <strong>{{ loan.get_status_display }}</strong></p>

                {% if loan.details_completed %}
                    
                    {% if loan.loan_type == 'Murabaha' %}
                        <h6>Asset name: {{ loan.murabaha.asset_name }}</h6>
                        <h6>Asset value: {{ loan.murabaha.asset_value }}</h6>
                    {% else %}
                        <h6>Total amount requested: {{ loan.qard_hasan.total_loan_value }}</h6>
                    {% endif %}
                
                {% endif %}
                {% if loan.repayment_setting %}
                    <h3>Repayment Setting</h3>
                     <h6>Repayment method: {{ loan.repayment_settings.get_repayment_method_display }}</h6>
                     <h6>Repayment method: {{ loan.repayment_settings.start_date|date:"F Y" }}</h6>
                     <h6>Asset value: {{ loan.repayment_settings.end_date|date:"F Y" }}</h6>

                
                {% endif %}
                {% if loan.guarantors_added %}
                    <h3>Guarantors added</h3>
                    <table class="table table-primary">
                        <tr>
                            <th>Gurantor</th>
                            <th>Action status</th>
                            <th>Comment</th>
                            <th>action date</th>
                        </tr>
                    {% for guarantor in loan.guarantors.all %}
                        <tr>
                            <td>{{ guarantor.guarantor.get_full_name }}</td>
                            <td>{{ guarantor.status }}</td>
                            <td>{{ guarantor.action_note }}</td>
                            <td>{{ guarantor.action_date }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                
                {% endif %}

                {% if loan.status == 'Not Finished' %}
                    <a href="{% url 'loan:delete_loan' loan.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this loan application?');">
                        Delete
                    </a>
                {% elif loan.status not in 'Accepted,Cancelled,Disbursed,Paid' %}
                    <a href="{% url 'loan:cancel_loan' loan.id %}" class="btn btn-warning" onclick="return confirm('Are you sure you want to cancel this loan?');">
                        Cancel
                    </a>
                {% endif %}

                {% if next_action %}
                    <p>Next Step: <strong>{{ next_action }}</strong></p>
                {% endif %}

                {% if continue_url %}
                    <a href="{% url continue_url %}" class="btn btn-primary">Continue</a>
                {% endif %}

                {% if loan.status == "Awaiting Guarantor Approval" %}
                    <p class="text-warning">Your guarantors have been notified. Please check back for updates.</p>
                {% endif %}
                {% if allow_adding_guarantors %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Attention:</strong> 
                        Some guarantors have rejected the loan. 
                        You currently have {{ approved_guarantor_count }} approved guarantor(s).
                        <br>
                        You need {{ remaining_guarantors }} more guarantor(s) to proceed.
                    </div>
                    {% if not pending_guarantors %}
                        
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGuarantorModal">Add New Guarantor</button>
                    {% endif %}
                    
                {% endif %}
            </div>
        </div>
        {% include 'include/add_guarantor_modal.html' %}
    {% else %}
        <p>You have no active loan applications.</p>
        <p><a href="{% url 'loan:loan_guidance' %}"  class="btn btn-primary my-3">Read Loan Guidelines</a>
        <p><a href="{% url 'loan:loan_application' %}" class="btn btn-primary my-3">Apply for loan</a>
        </p>

    {% endif %}


    <h3>Loans Where You Are a Guarantor</h3>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Loan Type</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Date Applied</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans_as_guarantor %}
                <tr>
                    <td>{{ loan.loan_type }}</td>
                    <td>{{ loan.applicant.first_name }} {{ loan.applicant.last_name }}</td>
                    <td>{{ loan.status }}</td>
                    <td>{{ loan.date_applied }}</td>
                    <td><a class="btn btn-primary btn-sm shadow-lg" href="{% url 'loan:loan_detail' loan.id %}">View Details</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No loans found where you are a guarantor.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if comitee_to_review_loans %}    
        <h3>Austanding loans to review</h3>
        <table class="table table-primary">
            <thead>
                <tr>
                    <th>Tracking ID</th>
                    <th>Loan Type</th>
                    <th>Applicant</th>
                    <th>Status</th>
                    <th>Date Applied</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in comitee_to_review_loans %}
                    <tr>
                        <td><span class="badge bg-success"> loan.tracking_id </span></td>
                        <td>{{ loan.loan_type }}</td>
                        <td>{{ loan.applicant.first_name }} {{ loan.applicant.last_name }}</td>
                        <td>{{ loan.status }}</td>
                        <td>{{ loan.date_applied }}</td>
                        <td><a class="btn btn-primary btn-sm shadow-lg" href="{% url 'loan:loan_detail' loan.id %}">View Details</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No loans found that requires committee review.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</div>

{% endblock %}
